/* style.css */

body, html {
    position: fixed;
    user-select: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #cfd3d8;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #cfd3d8;
}

p {
    font-size: 18px;
    margin-top: 20px;
}
